body {
  position: relative;
  margin-top: 70px;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
#sidebar>.nav .nav {
	display: none;
  font-size:12px;
}
#sidebar>.nav>.active>ul {
	display: block;
}
#sidebar>.nav>.active>ul>li {
	margin-top: 2px;
}
#sidebar .nav a {
  font-size: 12px;
  padding: 4px 10px;
  &:hover {
    margin-left: -3px;
    border-left: 3px solid #5AA;
  }
}

#sidebar .nav>.active>a {
  margin-left: -3px;
  color: #55A;
  border-left: 3px solid #55A;
  font-weight: bold;
}

#sidebar>.nav>li>ul>li>a {
  padding-left: 30px;
  font-size: 0.9em;
}

// Make the # links appear in the correct place
h1::before, h2::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.footer {
  height: 60px;
  margin-top: 60px;
  position: relative;
  bottom: -60;
  background-color:#ddd;
  z-index:2;
}
