h2#aliasing Aliasing
p.
    Aliases are set in the same was as setParams, except we also set the name of the alias.
    Setting parameters on aliases is optional. Any parameters set will override any existing parameters set on that class.
    
    Aliases are useful if you require the same class to be used in two different ways.
    Eg. A Database class that connects to two separate databases.
    
p.
    It is also possible to alias an alias. Parameters are merged together. The 'outer' alias parameters will take precedence.
    Any parameters which are set when calling get or create will override any alias config
    
pre
    code.language-php.
        $di = new DD\DiMaria;
        $di->setParams('DbStorage', [
            'username' => 'readAccess',
            'password' => 'abcd',
            'server' => 'localhost'
        ]);
        $di->setAlias('DbStorageWithWritePermissions', 'DbStorage', [
            'username' => 'writeAccess',
            'password' => '1234'
        ]);

        $readStorage = $di->get('DbStorage');
        $writeStorage = $di->get('DbStorageWithWritePermissions');
