h2#configuring-classes Configuring Classes
p.
    If a constructor parameter is not type-hinted or optional, then you will need to tell
    DiMaria which parameters to use. This is done with the setParams method.
    setParams takes two arguments: the class name, and a key-value array of parameters.
    
    Only the parameters that you wish to set need to be entered. If a parameter is optional,
    or type-hinted then it is okay to leave this blank.

pre
    code.language-php.
        $di = new DD\DiMaria;
        $di->setParams('DbStorage', [
            'username' => 'readAccess',
            'password' => 'abcd',
            'server' => 'localhost'
        ]);    
    
p.
    If you want to pass a class as a parameter then it is possible to do this using ['instanceOf' => 'ClassName'].
    
    It is also possible to set or override parameters during object creation. This is done by 
    passing the key-value array of parameters to the get or create method.

pre
    code.language-php.
        $di = new DD\DiMaria;
        $di->setParams('Repository', [
            'storage' => [
                'instanceOf' => 'DbStorage'
            ],
            'mapper' => [
                'instanceOf' => 'Mapper',
                'params' => [
                    'foo' => 'bar'
                ]
            ]
        ]);
        $object = $di->get('Repository');
