h2#custom-values Custom Values 
p.
    It is possible to set a value by calling set. This value is retrievable by using 'get'.
    Any value that is set is inserted into its cache and therefore overrides any existing class
    or alias.
    
    This means DiMaria can operate effectively as a simple key-value store.

pre
    code.language-php.
        $di = new DD\DiMaria;
        $di->set('name', 'DangerousDan');
        $myName = $di->get('name');

p.    
    DiMaria also allows custom factories using setFactory.
    Internally, DiMaria will create a factory for each class that it inspects, so that it can
    quickly create another instance of that class.
    
    setFactory allows us to set our own callable as a factory, which will be retrievable by calling 'create'.
        
pre
    code.language-php.
        $di = new DD\DiMaria;
        $di->setFactory('name', function() use ($di) {
            $service = $di->get('myService');
            return $service->getName();
        });
        $myName = $di->get('name');
        
