h2#default-behaviour Default Behaviour
p.
    Classes are fetched with either the get or create method.
    The get method will fetch a class and also cache the response for later use.
    This means that fetching the same class again will return the exact same instance.
    
    The create method will fetch a new instance of the class each time.
    
    If a class has type-hinted parameters on its constructor then these will automatically be fetched,
    resolving all the dependencies down the chain.
    This is done by internally calling the create method.
