h2#preferences Preferences 
p.
    Setting preferences allows us to set a preferred implementation of an instance or class.
    Any class parameter that requires that instance or class will then be given the preferred implementation of it.
    
    SetPreference can easily be overridden be explicitly defining which class to pass to a parameter. 

pre
    code.language-php.
        $di = new DD\DiMaria;
        $di->setPreference('StorageInterface', 'DbStorage');
        $repository = $di->get('Repository');
