h2#setter-injection Setter Injection 
p.
    Class methods can be configured to be automatically called during object creation.
    Setter rules are appended rather than overwritten. 
    This makes it possible to call the same setter multiple times.

    Injection rules are not inherited from other classes or aliases.
    They only apply to the class or alias in the rule.

pre
    code.language-php.
        $di = new DD\DiMaria;
        $di->setInjection('Foo', 'doSomething');
        $di->setInjection('Foo', 'doSomething', ['bar' => true]);
        $foo = $di->get('Foo');
