h2#shared-instances Shared Instances 
p.
    By default, get will return a shared instance, and create will not.
    This behaviour can be overridden with setShared('classOrAlias', bool)
    
    Internally, class dependencies are fetched with 'create', so marking a class as shared is useful if a class
    dependency should be a shared instance.
    
    Also, marking a class as not shared will overwrite the default get behaviour and return a new instance
    each time. This is useful for interoperability.
    
pre
    code.language-php.
        $di = new DD\DiMaria;
        
        $di->setShared('ClassName');
        $object1 = $di->create('ClassName');
        $object2 = $di->create('ClassName');
        
        $di->setShared('ClassName', false);
        $object3 = $di->get('ClassName');
        $object4 = $di->get('ClassName');
        
p.
    In this example, $object1 and $object2 are the same instance, even though the create method is used.
    $object3 and $object4 are different instances.
