h2#variadics Variadics 
p.
    Setting variadic parameters is similar to how we set normal parameters, except we pass a multidimensional array.
    
    Variadic parameters will work with aliases and shared instances.
    
    Variadic functions cannot have a default value, but they are always optional. 
    If no value is set, a variadic parameter will be given an empty array.

pre
    code.language-php.
        $di = new DD\DiMaria;
        $di->setAlias('RedBall', 'Ball', ['colour' => 'red']);
        $di->setParams('Ballpool', [
            'height' => 20,
            'balls' => [
                ['instanceOf' => 'Ball'],
                ['instanceOf' => 'Ball'],
                ['instanceOf' => 'RedBall']
            ]
        ]);
        $ballpool = $di->get('Ballpool', [
            'width' => 5
        ]);
