h2#create create
pre
    code.language-php.
        public function create(string $class, array $params = [])
div
    | The get method is used to fetch an instance of a class. 
    | This differs from 
    a(href='#get') get 
    |  in that it will always return a new instance of a class.
