h2#get get
pre
    code.language-php.
        public function get($class, array $params = [])
div
    | The get method is used to fetch an instance of a class.     
    | If the class has been fetched before, then it will return a cached instance.
    br
    | If dependencies need to be calculated internally then these will be created usig the 
    a(href='#create') create
    | method.
    br
    | It is possible to override the default cache behaviour by marking the class an not shared with the 
    a(href='#setShared') setShared
    |  method
