h2#has has
pre
    code.language-php.
        public function has($class): bool
div
    | The has method will return a boolean which represents whether the class passed to it is fetchable.
    br
    | This is determined by checking if the class exists, or whether the value passed matches an existing 
    | alias, preference or cached instance
