h2#set set
pre
    code.language-php.
        public function set(string $key, $value): self
div
    | The set method allows you to set any custom values.
    | The values are stored in the cache and retrievable with the get method.
