h2#setAlias setAlias
pre
    code.language-php.
        public function setAlias(string $alias, string $class, array $params = []): self;
div
    | setAlias will create an alias of a class which can later be fetched using the 
    a(href='#get') get
    |  or 
    a(href='#create') create
    |  methods.
    br
    | The method functions similarly to 
    a(href='#setParams') setParams
    |  except we also pass the name of the alias, and the parameters are now optional.
    br
    | Parameters set on the class will be inherited by the alias.
    | Any parameters set on the alias will not affect the original class.
