h2#setFactory setFactory
pre
    code.language-php.
        public function setFactory(string $key, callable $factory): self
div
    | The setFactory method allows you to set a custom callable, which is retrievable by the get or create method.
    br
    i Note: The get method will also return the result of the callable, but subsequent calls will return the same cached result.
