h2#setInjection setInjection
pre
    code.language-php.
        public function setInjection(string $class, string $method, array $params = []): self
div
    | setInjection allows us to automatically call a method on the object before returning it.
    | Method parameters are passed in an associated array.
    br
    | Injections rules are appended, not overwritten. This allows us to call the same
    | method multiple times.
    br
    | Any Injection rules are not inherited when by aliases of the method.
