h2#setParams setParams
pre
    code.language-php.
        public function setParams(string $class, array $params): self
div
    | The setParams allows setting or overriding default parameters on classes.
    br
    | The method returns 
    | $this
    |  to allow for a fluent interface 
