h2#setPreference setPreference
pre
    code.language-php.
        public function setPreference(string $alias, string $class): self
div
    | setPreference allows setting a preferred implementation of a class or interface.
    br
    | If a class parameter is typehinted to a class or interface, it will use the preferred
    | implementation instead.
