h2#setShared setShared
pre
    code.language-php.
        public function setShared(string $class, bool $isShared = true): self
div
    | setShared allows you to change the default caching behaviour of the
    a(href='#get') get
    |  or 
    a(href='#create') create
    |  methods. By default, get will cache the result, and create will not.
    br
    br
    | This is useful for 2 reasons.
    br
    | #1 The get method uses create internally to fetch its dependencies. If one of those dependencies
    | should be shared, then it is possible to do this using this method.
    br
    | #2 DiMaria implements the container-interop ContainerInterface for container interoperabilty.
    | This requires a container has a get and a has method.
    | Setting a class to be not shared allows us to create a new instance each time using the get method, 
    | therefore allowing full interoperabilty.
