h1#methods Methods

include methods/get.jade
include methods/create.jade
include methods/has.jade
include methods/setParams.jade
include methods/setAlias.jade
include methods/setPreference.jade
include methods/setShared.jade
include methods/setInjection.jade
include methods/set.jade
include methods/setFactory.jade
