h1#usage Usage 
| DiMaria should work out of the box. Just call get() with the class name you wish to create.
pre
    code.language-php.
        $di = new DD\DiMaria;
        $object = $di->get('ClassName');
| DiMaria implements the container-interop interface.

include usage/default-behaviour.jade
include usage/configuring-classes.jade
include usage/aliasing.jade
include usage/preferences.jade
include usage/shared-instances.jade
include usage/variadics.jade
include usage/setter-injection.jade
include usage/custom-values.jade
