extends ./html.jade

block content
    //- include jumbotron.jade
    include nav.jade
    .container-fluid
        .row
        .row
            nav#sidebar.col-sm-3.col-md-2.sidebar
                include sidebar.jade
            #content.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
                include pages/intro.jade
                include pages/installation.jade
                include pages/usage.jade
                include pages/methods.jade
    include footer.jade
            
