nav.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand DiMaria Dependency Injector
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='//github.com/dangerousdan/dimaria', target='_blank') View On Github
