ul.nav.nav-stacked
    li.active
        a(href='#intro') Introduction
    li
        a(href='#installation') Installation
    li
        a(href='#usage') Usage
        ul.nav.nav-stacked
            li
                a(href='#default-behaviour') Default Behaviour
            li
                a(href='#configuring-classes') Configuring Classes
            li
                a(href='#aliasing') Aliasing
            li
                a(href='#preferences') Preferences
            li
                a(href='#shared-instances') Shared Instances
            li
                a(href='#variadics') Variadics
            li
                a(href='#setter-injection') Setter Injection
            li
                a(href='#custom-values') Custom Values
    li
        a(href='#methods') Methods
        ul.nav.nav-stacked
            li
                a(href='#get') get
            li
                a(href='#create') create
            li
                a(href='#has') has
            li
                a(href='#setParams') setParams
            li
                a(href='#setAlias') setAlias
            li
                a(href='#setPreference') setPreference
            li
                a(href='#setShared') setShared
            li
                a(href='#setInjection') setInjection
            li
                a(href='#set') set
            li
                a(href='#setFactory') setFactory
